@import '../../common/colors.scss';

.footer{
    background: $secondary-color;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-primary;
    flex-direction: column;
    padding: 0px, 40px;
}
.text{
    margin: 10px;
}